<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="logout()">
      iFinanças na área!
    </ion-title>  
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="btnMenu">
    <ion-button fill="clear" [routerLink]="['/contas/pagar']" expand="block">Contas a Pagar</ion-button><br>
    <ion-button fill="clear" [routerLink]="['/contas/receber']" expand="block">Contas a Receber</ion-button><br>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Página inicial
    </ion-title>
  </ion-toolbar>
</ion-footer>